@model Klonbits.CMSBits.Presentation.Web.ViewModels.Book.GuestsViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer T
@using System.Globalization
@using System.Threading
@{
    ViewData["Title"] = T["guestsAndBilling"];
    ViewData["Step"] = "Guests";
    var jsFormat = "";
    var minDate = "";
    var birthDate = new DateTime(DateTime.Now.Year + 1, 12, DateTime.DaysInMonth(DateTime.Now.Year + 1, 12));
    var normakMaxDate = $"{birthDate.Month}.{birthDate.Day}.{birthDate.Year}";
    var mainMaxDate = "";
    if (!Thread.CurrentThread.CurrentCulture.Name.Contains("en"))
    {
        jsFormat = "DD.MM.YYYY";
        minDate = "01.01.1900";
    }
    else
    {
        jsFormat = "MM.DD.YYYY";
        minDate = "01.01.1900";
    }

    var lang = System.Threading.Thread.CurrentThread.CurrentCulture.Name.Split("-")[0];
}
<form id="guestForm" method="post" class="active" action="@Url.RouteUrl("public-booking", new {action = "Guests"})">
    <div class="guest-details" data-show-content="guest-details">
        <div class="search-main-headings">
            <h4 class="search__title text-uppercase">
                @T["guestInformations"]
            </h4>
        </div>
        <div class="search-boxes">
        @for (int i = 0; i < Model.GuestsModel.Adults.Count; i++)
        {
            var calenadrId = "";
            var selected = "asd=asd";

            @if (i == 0)
            {
                mainMaxDate = "12.31.2000";
                calenadrId = "mainGuestCalendar";
                <div class="row">
                    <div class="col-12">
                        <h4 class="search__title">
                            1. @T["guestInformations"]
                        </h4>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        <h4 class="search__title mt-md-4">
                            @(i + 1). @T["guestInformations"]
                        </h4>
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <select class="form-control" placeholder="Mr. / Mrs." asp-for="GuestsModel.Adults[i].Gender">
                        <option value="1">@T["mr"]</option>
                        <option value="2" data-selected="@(i >= 1 ? "true":"false")">@T["ms"]</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 col-lg-3 px-md-0">
                    <div class="fake-placeholder">
                        <input type="text" data-name="name" data-regex="text" class="form-control" asp-for="GuestsModel.Adults[i].Name.FirstName">
                        <label class="fake-placeholder__item">@T["name"] </label>
                        <span asp-validation-for="GuestsModel.Adults[i].Name.FirstName" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="fake-placeholder">
                        <input type="text" data-name="surname" data-regex="text" class="form-control" asp-for="GuestsModel.Adults[i].Name.LastName">
                        <label class="fake-placeholder__item">@T["surname"] </label>
                        <span asp-validation-for="GuestsModel.Adults[i].Name.LastName" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 pl-md-0">
                    <div class="fake-placeholder">
                        <input id="@calenadrId" type="text" class="form-control single-datepick" readonly asp-for="GuestsModel.Adults[i].Birthday">
                        <label class="fake-placeholder__item">@T["birthdate"] </label>
                        <!-- <span asp-validation-for="GuestsModel.Adults[i].Birthday" class="required" data-valmsg-replace="false">@T["requiredText"]</span> -->
                    </div>
                </div>
            </div>
        }
        @for (int i = 0; i < Model.GuestsModel.Childern.Count; i++)
        {
            <div class="row">
                <div class="col-12">
                    <h4 class="search__description">
                        @(i + 1). @T["childInformations"]
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <select class="form-control" asp-for="GuestsModel.Childern[i].Gender">
                        <option value="1">@T["mr"]</option>
                        <option value="2">@T["ms"]</option>
                    </select>
                </div>
                <div class="col-12 col-md-6 col-lg-3 px-md-0">
                    <div class="fake-placeholder">
                        <input type="text" class="form-control" data-regex="text" asp-for="GuestsModel.Childern[i].Name.FirstName">
                        <label class="fake-placeholder__item">@T["name"] </label>
                        <span asp-validation-for="GuestsModel.Childern[i].Name.FirstName" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="fake-placeholder">
                        <input type="text" class="form-control" data-regex="text" asp-for="GuestsModel.Childern[i].Name.LastName">
                        <label class="fake-placeholder__item">@T["surname"] </label>
                        <span asp-validation-for="GuestsModel.Childern[i].Name.LastName" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3 pl-md-0">
                    <div class="fake-placeholder">
                        <input type="text" class="form-control child-datepickers" readonly data-calendar="datepicker" asp-for="GuestsModel.Childern[i].Birthday">
                        <label class="fake-placeholder__item">@T["birthdate"] </label>
                        <span asp-validation-for="GuestsModel.Childern[i].Birthday" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-12 honeyMoonTrigger">
                <div class="unique-checkbox">
                    <input id="inpHoneyMoon" type="checkbox" />
                    <label for="inpHoneyMoon">Balayı Çiftiyiz</label> 
                </div>
            </div>
            <div class="col-auto">
                <h4 class="search__title--regular-small">Balayı çiftlerimize özel lorem ipsum dolor sit amet.</h4>
                <div class="fake-placeholder icon--pickadate">
                    <input type="text" class="form-control disabled" disabled/>
                    <label>Evlilik Tarihini Giriniz</label>
                </div>
            </div>
        </div>
        </div>
        <div class="search-main-headings">
            <h4 class="search__title text-uppercase">
                @T["reservationContactsandBillingInformation"]
            </h4>
        </div>
        <div class="search-boxes">
            <div class="row">
                <div class="col-12">
                    <h4 class="search__title--regular">
                        @T["pleaseEnterTheInformationToBeContactedAboutTheBookings"]
                    </h4>
                </div>
            </div>
            <div class="row">
            <div class="col-12 col-md-3 pr-md-0">
                <div class="fake-placeholder">
                    <input type="text" id="name" asp-for="Billing.Name.FirstName" class="form-control">
                    <label class="fake-placeholder__item">@T["name"] </label>
                    <span asp-validation-for="Billing.Name.FirstName" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="fake-placeholder">
                    <input type="text" id="surname" asp-for="Billing.Name.LastName" class="form-control">
                    <label class="fake-placeholder__item">@T["surname"] </label>
                    <span asp-validation-for="Billing.Name.LastName" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                </div>
            </div>
            <div class="col-12 col-md-6 pl-md-0">
                <div class="fake-placeholder">
                    <input type="email" asp-for="Billing.Contact.Email" class="form-control">
                    <label class="fake-placeholder__item">@T["eMail"] </label>
                    <span asp-validation-for="Billing.Contact.Email" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="col-12 px-0" style="padding-top:0 !important">
                    @if (Model.Billing.Contact.Country == "TR")
                    {
                        <div class="fake-placeholder">
                            <input id="identifier" type="number" @*asp-for="Billing.IdentityNo"*@ class="form-control" @(lang == "tr" ? "data-maxlength='11'" : "")>
                            <label class="fake-placeholder__item">@T["identityNo"] </label>
                            <!-- <span asp-validation-for="Billing.IdentityNo" class="required" data-valmsg-replace="false">@T["requiredText"]</span> -->
                        </div>
                    }
                    else
                    {
                        <div class="fake-placeholder">
                            <input id="identifier" type="number" @*asp-for="Billing.Contact.PostalCode"*@ class="form-control">
                            <label class="fake-placeholder__item">@T["postalCode"] </label>
                            <!-- <span asp-validation-for="Billing.Contact.PostalCode" class="required" data-valmsg-replace="false">@T["requiredText"]</span> -->
                        </div>
                    }
                </div>
            </div>
            <div class="col-12 col-md-6 pl-md-0">
                    <div class="input-group">
                        <div class="input-group-prepend col-4 px-0">
                            <select class="form-control"
                                    asp-for="Billing.Contact.CountryCode"
                                    asp-items="@(new SelectList(ViewBag.CountriesCodes, "PhoneCode", "PhoneCode"))"></select>
                        </div>
                        <input type="number" asp-for="Billing.Contact.Phone" class="form-control" data-minlength="10" data-maxlength="@(lang != "tr" ? "15" :"10")">
                        <span asp-validation-for="Billing.Contact.Phone" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-12">
                <select class="form-control" placeholder="Mr. / Mrs." id="dlCountries"
                        asp-for="Billing.Contact.Country"
                        asp-items="@(new SelectList(ViewBag.Countries, "IsoCode", "Name"))"></select>
            </div> 
        </div>
        <div class="row">
            <div class="col-12">
                <div class="fake-placeholder">
                    <textarea class="form-control" @*asp-for="Billing.Contact.Address"*@></textarea>
                    <label class="fake-placeholder__item">@T["address"] </label>
                    <!-- <span asp-validation-for="Billing.Contact.Address" class="required" data-valmsg-replace="false">@T["requiredText"]</span> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="unique-checkbox">
                    <input asp-for="Billing.UseAlternateBilling" type="checkbox" id="inpBillingDetails">
                    <label for="inpBillingDetails">
                        @T["myBillingDetailsAreNotTheAbove"]
                        
                    </label>
                    <span class="required" asp-validation-for="Billing.UseAlternateBilling" data-valmsg-replace="false">@T["requiredText"]</span>
                </div>
                
            </div>
            <div class="col-12 mt-md-3">
                <div class="unique-checkbox">
                    <input type="checkbox" id="inpTerms" asp-for="AcceptTerms">
                    <label id="inpTermsLabel" for="inpTerms">
                        @T["iHaveReadThePersonalDataProtectionAndPrivacyPolicy"]
                    </label>
                     <span asp-validation-for="AcceptTerms" class="required" data-valmsg-replace="false">
                        @T["requiredText"]
                    </span>
                </div>
            </div>
        </div>
        
        </div>
        <div class="search-boxes billing-details">
            <div class="row">
                <div class="col-12">
                    <h4 class="search__title">
                        @T["billingInformation"]
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 pr-md-0">
                    <div class="fake-placeholder">
                        <input type="text" asp-for="Billing.CompanyName" class="form-control">
                        <label class="fake-placeholder__item">@T["companyName"] </label>
                        <span asp-validation-for="Billing.CompanyName" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                    </div>
                </div>
                <div class="col-12 col-md-3 pr-md-0">
                    <div class="fake-placeholder">
                        <input type="text" asp-for="Billing.TaxOffice" class="form-control">
                        <label class="fake-placeholder__item">@T["taxOffice"] </label>
                        <span asp-validation-for="Billing.TaxOffice" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                    </div>
                </div>
                <div class="col-12 col-md-3">
                    <div class="fake-placeholder">
                        <input type="text" asp-for="Billing.TaxNumber" class="form-control">
                        <label class="fake-placeholder__item">@T["taxNumber"] </label>
                        <span asp-validation-for="Billing.TaxNumber" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                    </div>
                </div>
                <div class="col-12 mt-md-5">
                    <div class="fake-placeholder">
                        <textarea class="form-control" asp-for="Billing.Contact.CompanyAddress" rows="4"></textarea>
                        <label class="fake-placeholder__item">@T["address"] </label>
                        <span asp-validation-for="Billing.Contact.CompanyAddress" class="required" data-valmsg-replace="false">@T["requiredText"]</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/js/vendor/jquery.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/jquery.daterangepicker.js"></script>
<script src="/js/search.js" asp-append-version="true"></script>
<script>

    var days = @Html.Raw(Json.Serialize(DateTimeFormatInfo.CurrentInfo.AbbreviatedDayNames.ToList()));
    var months = @Html.Raw(Json.Serialize(DateTimeFormatInfo.CurrentInfo.AbbreviatedMonthNames.ToList()));

    checkModernInput();
    setSingleDatepicker('.single-datepick','@lang','@minDate');
    $('.single-datepick').val('@minDate');

    $('#dlCountries').each(function(){
        var $this = $(this);
        var lang = '@lang';

        $this.find('option:selected').removeAttr('selected');

        if (lang == "en") {
            $this.val("GB");
            $("#Billing_Contact_CountryCode").val("+44");
        }
        else {
            $this.val(lang.toUpperCase());
            setPhoneCodeByCountry(lang.toLowerCase(), $('#Billing_Contact_CountryCode'));
        }

        $this.change(function() {
            var selectedCountryCode = $this.val().toLowerCase();
            setPhoneCodeByCountry(selectedCountryCode, $('#Billing_Contact_CountryCode'));
        });

        function setPhoneCodeByCountry(countryCode, $dropdownElem) {
            switch (countryCode) {
                case "tr":
                    $dropdownElem.val("+90");
                    break;
                case "gb":
                    $dropdownElem.val("+44");
                    break;
                case "de":
                    $dropdownElem.val("+49");
                    break;
                case "ru":
                    $dropdownElem.val("+7");
                    break;
            }
        }
    });

    $('#dlCountries').on('change',
        function () {
            var val = $(this).val();
            if (val === 'TR') {
                $('#identifier').attr('name', 'Billing.IdentityNo');
                $('#identifier').siblings('label').text('@T["identity"]');
                $('#identifier').siblings('label').find('span').text('@T["identity"]');
                $('#identifier').attr('data-val-required', '');

            } else {
                $('#identifier').attr('name', 'Billing.Contact.PostalCode');
                $('#identifier').siblings('label').text('@T["postalCode"]');
                $('#identifier').siblings('label').find('span').text('@T["postalCode"]');
                $('#identifier').attr('data-val-required', '');
            }
            $('#identifier').val('');
        });

    $(function () {
        $('#btnContinue').click(function (e) {
            e.preventDefault();
            var valid = $('#guestForm').valid();
            if (valid == true) {
                if ($('#inpTerms').is(':checked')) {
                    $('#guestForm').submit();
                } else {
                    $('#inpTermsLabel').css('color', 'red');
                }
            }
        });

        $('#inpTerms').on('change',
            function () {
                $('#inpTermsLabel').css('color', 'black');
            });

        if ($('#inpBillingDetails').is(':checked')) {
            $('.billing-information-section').slideDown();
        } else {
            $('.billing-information-section').slideUp();
        }
    });

    $('[data-name="name"]').first().change(function () {
        $('#name').val($(this).val());
        checkModernInput();
    });
    $('[data-name="surname"]').first().change(function () {
        $('#surname').val($(this).val());
        checkModernInput();
    });

    $('#inpBillingDetails').on('change',function(e) {
        e.preventDefault();
        $('.billing-details').toggleClass('active');
    });
</script>